
{% load static %}

<link rel="stylesheet" href="{% static 'fournisseurs/css/inscription.css' %}">

<div class="form-container">
  <h2>Créer un compte fournisseur</h2>
  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
      <div class="success-message">{{ message }}</div>
    {% endfor %}
  </div>
{% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          <p class="error">{{ field.errors|striptags }}</p>
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit" class="submit-btn">S'inscrire</button>
  </form>
</div>

