{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="icon" type="image/x-icon" sizes="180x180" href="{% static 'E_commerce/Image/trending_topics_2.webp' %}">
    <link rel="stylesheet" href=" {% static 'E_commerce/css/base.css' %}?v={{ static_version }} " />
    <link rel="stylesheet" href="{% static 'E_commerce/css/fontawesome/css/all.css' %}?v={{ static_version }}"/>

    
     
    {% block link %}{% endblock link %}
    <title>E-Commerce</title>
  </head>
  <body  data-is-authenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}">
    {% csrf_token %}
    <div class="maxcontainer">
      <div class="containermin">
    <!-- ---------------------- Section menu ---------------->
    <section class="section_menu" >
      <div class="menbox">
        <div class="menuhead" id="menuhead">
          <header class="box">
            <a href=" {% url 'home' %} " id="menlogo">
              <img src="{% static 'E_commerce/Image/lebonlieu.svg' %}" alt="" />
            </a>
            <div
              id="menubtn2"
              aria-label="Open menu"
              style="background: none; border: none; cursor: pointer"
            >
              <button>
                <svg
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <line x1="4" y1="4" x2="28" y2="28"></line>
                  <line x1="4" y1="28" x2="28" y2="4"></line>
                </svg>
              </button>
            </div>
          </header>
          <div class="men_ar">
            <a href="#" class="annonce" id="annonce">
              <div class="box-annonce">
                <svg viewBox="0 0 24 24" fill="currentColor">
                  <path
                    d="m12,6.84c.56,0,1.01.45,1.01,1.01v3.14h3.14c.56.02.99.5.96,1.05-.02.52-.44.94-.96.96h-3.14v3.14c0,.56-.45,1.01-1.01,1.01-.56,0-1.01-.45-1.01-1.01h0v-3.14h-3.14c-.56,0-1.01-.45-1.01-1.01,0-.56.45-1.01,1.01-1.01h3.14v-3.14c0-.56.45-1.01,1.01-1.01h0Z"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    d="m7.16,2c-2.85,0-5.16,2.31-5.16,5.16h0v9.68c0,2.85,2.31,5.16,5.16,5.16h9.68c2.85,0,5.16-2.31,5.16-5.16V7.16c0-2.85-2.31-5.16-5.16-5.16H7.16Zm-3.14,5.16c0-1.73,1.4-3.14,3.14-3.14h9.68c1.73,0,3.14,1.4,3.14,3.14h0v9.68c0,1.73-1.4,3.14-3.14,3.14H7.16c-1.73,0-3.14-1.4-3.14-3.14h0V7.16h0Z"
                  ></path>
                </svg>
              </div>
              <span>Déposer une annonce</span>
            </a>
            <a href="#" class="recher" id="recher">
              <svg viewBox="0 0 24 24" fill="currentColor">
                <path
                  d="m10.5,3.95c-3.62,0-6.55,2.93-6.55,6.55s2.93,6.55,6.55,6.55,6.55-2.93,6.55-6.55-2.93-6.55-6.55-6.55ZM2,10.5C2,5.81,5.81,2,10.5,2s8.5,3.81,8.5,8.5-3.81,8.5-8.5,8.5S2,15.2,2,10.5Z"
                ></path>
                <path
                  d="m15.13,15.13c.38-.38,1-.38,1.38,0l5.21,5.21c.38.38.38,1,0,1.38-.38.38-1,.38-1.38,0l-5.21-5.21c-.38-.38-.38-1,0-1.38Z"
                ></path>
              </svg>
              <span>Rechercher</span>
            </a>
          </div>
          <div class="menoption">
            <a href=" {% url 'historique' %} " class="icon">
              <svg viewBox="0 0 24 24">
                <path
                  fill-rule="evenodd"
                  d="m14.1,4.03c1.05.34,2.02.92,2.81,1.72,1.3,1.31,2.03,3.08,2.03,4.93,0,2.8.47,4.35.96,5.25.39.72.58,1.6.26,2.39-.36.88-1.21,1.3-2.15,1.3h-2.94c-.18.69-.58,1.29-1.13,1.72-.56.43-1.24.66-1.95.66s-1.39-.23-1.95-.66c-.56-.43-.96-1.03-1.13-1.72h0s-2.94,0-2.94,0c-.95,0-1.79-.42-2.15-1.3-.32-.79-.13-1.67.26-2.39.49-.9.96-2.44.96-5.25,0-1.85.73-3.62,2.03-4.93.79-.8,1.76-1.38,2.81-1.72.04-1.13.97-2.03,2.1-2.03s2.06.9,2.1,2.03Zm-2.1,1.69c1.31,0,2.56.52,3.48,1.45.92.93,1.44,2.19,1.44,3.5,0,3.02.51,4.93,1.21,6.21.22.41.17.63.16.66h0s-.09.05-.28.05H5.98c-.18,0-.26-.04-.28-.05h0s-.06-.25.16-.66c.7-1.29,1.21-3.2,1.21-6.22,0-1.31.52-2.57,1.44-3.5.92-.93,2.18-1.45,3.48-1.45Z"
                ></path> 
              </svg>
              <span id="jose">Mes recherches</span>
            </a>
            <a href="{% url 'favoris' %}" class="icon">
              <svg viewBox="0 0 24 24">
                <path
                  d="m16.28,3c-1.72,0-3.24.83-4.28,2.11-1.04-1.28-2.57-2.11-4.28-2.11-3.21,0-5.72,2.85-5.72,6.24,0,2.77,1.41,4.75,1.97,5.51,1.87,2.47,4.38,4.11,6.67,5.6h.02c.25.17.49.33.73.49.32.21.73.22,1.06.02.21-.13.43-.26.63-.39h.02c2.39-1.48,5.02-3.1,6.95-5.68.64-.86,1.95-2.83,1.95-5.54,0-3.4-2.51-6.23-5.72-6.23h0Zm-8.57,2.12c1.46,0,2.76.96,3.35,2.39.16.38.52.64.93.64s.77-.25.93-.64c.6-1.44,1.9-2.39,3.36-2.39,1.99,0,3.7,1.79,3.69,4.13,0,2-.98,3.5-1.52,4.24-1.67,2.25-3.98,3.67-6.43,5.19l-.07.04-.21-.13c-2.33-1.52-4.54-2.97-6.18-5.14-.51-.67-1.54-2.18-1.54-4.2,0-2.33,1.7-4.13,3.7-4.13h0Z"
                ></path>
              </svg>
              <span href="#">Favoris</span>
            </a>
            <a href="#" class="icon">
              <svg viewBox="0 0 24 24">
                <path
                  fill-rule="evenodd"
                  d="m2,6.18c0-2.34,1.9-4.18,4.21-4.18h11.5c2.36,0,4.28,1.92,4.28,4.28v14.7c0,.38-.22.74-.56.91-.34.17-.75.14-1.06-.09l-3.66-2.74H6.3c-2.35,0-4.27-1.9-4.28-4.26-.01-2.52-.02-6.03-.01-8.63Zm4.21-2.15c-1.22,0-2.18.96-2.18,2.15,0,2.6,0,6.09.01,8.62,0,1.24,1.01,2.23,2.25,2.23h10.75c.22,0,.43.07.61.2l2.31,1.73V6.28c0-1.24-1.01-2.25-2.25-2.25H6.22Zm10.68,4.17H7.1c-.56,0-1.02-.45-1.02-1.02,0-.56.45-1.02,1.02-1.02h9.8c.56,0,1.02.45,1.02,1.02s-.45,1.02-1.02,1.02Zm0,3.19H7.1c-.56,0-1.02-.45-1.02-1.02,0-.56.45-1.02,1.02-1.02h9.8c.56,0,1.02.45,1.02,1.02s-.45,1.02-1.02,1.02Zm-10.82,2.25c0-.56.45-1.02,1.02-1.02h6.53c.56,0,1.02.45,1.02,1.02s-.45,1.02-1.02,1.02h-6.53c-.56,0-1.02-.45-1.02-1.02Z"
                ></path>
              </svg>
              <span>Messages</span>
            </a>
            
          </div>
          <div class="category">
            <p>Catégorie</p>
            {% for category in super_categories %}
              <a href="{% url 'produits' slug=category.nom %}"><button>{{ category.nom }}</button></a>
            {% endfor %}
          </div>
          <div class="connexion">
            <a href="" class="icon">
              <svg viewBox="0 0 24 24">
                <path
                  fill-rule="evenodd"
                  d="m12,4.19c-1.6,0-2.93,1.26-2.93,2.84s1.33,2.84,2.93,2.84,2.93-1.26,2.93-2.84-1.33-2.84-2.93-2.84Zm-5.23,2.84c0-2.77,2.32-5.03,5.23-5.03s5.23,2.27,5.23,5.03-2.32,5.03-5.23,5.03-5.23-2.27-5.23-5.03Zm5.23,8.54c-1.85,0-3.63.71-4.95,1.98-1.01.97-1.68,2.21-1.94,3.55-.12.6-.72.99-1.34.88-.63-.11-1.04-.68-.92-1.28.34-1.76,1.23-3.4,2.56-4.69,1.74-1.68,4.11-2.63,6.59-2.63s4.84.95,6.59,2.63c1.34,1.29,2.22,2.93,2.56,4.69.12.6-.3,1.17-.92,1.28-.63.11-1.23-.28-1.34-.88-.26-1.34-.93-2.58-1.94-3.55-1.31-1.27-3.09-1.98-4.95-1.98Z"
                ></path>
              </svg>
              <span>Se connecter</span>
            </a>
          </div>
          <div class="information">
            <button>
              information Protique
              <svg viewBox="0 0 24 24" data-title="ArrowVerticalRight" fill="currentColor" stroke="none" class="fill-current shrink-0 text-neutral w-sz-16 h-sz-16" data-spark-component="icon" aria-hidden="true" focusable="false"><path fill-rule="evenodd" d="m7.3,2.28c-.38.38-.4,1.02-.03,1.41l7.69,8.31-7.69,8.31c-.37.4-.36,1.03.03,1.41.38.38.99.37,1.36-.03l7.87-8.51c.15-.16.27-.34.35-.54.08-.21.12-.43.12-.65s-.04-.44-.12-.65c-.08-.2-.2-.38-.35-.54L8.66,2.31c-.37-.4-.98-.41-1.36-.03Z"></path></svg>
            </button>
            <button>
              Lebonlieu
              <svg viewBox="0 0 24 24" data-title="ArrowVerticalRight" fill="currentColor" stroke="none" class="fill-current shrink-0 text-neutral w-sz-16 h-sz-16" data-spark-component="icon" aria-hidden="true" focusable="false"><path fill-rule="evenodd" d="m7.3,2.28c-.38.38-.4,1.02-.03,1.41l7.69,8.31-7.69,8.31c-.37.4-.36,1.03.03,1.41.38.38.99.37,1.36-.03l7.87-8.51c.15-.16.27-.34.35-.54.08-.21.12-.43.12-.65s-.04-.44-.12-.65c-.08-.2-.2-.38-.35-.54L8.66,2.31c-.37-.4-.98-.41-1.36-.03Z"></path></svg>
            </button>
          </div>
        </div>
      </div>
    </section>
    <!-- ---------------------- Section _menu_super_categorie ---------------->
    <section class="section_menu" >
      {% for super_categorie in super_categories %}
      <div class="menbox_super_categorie " id="menbox_super_categorie{{ forloop.counter }}" >
        <div class="menuhead_super_categorie" id="menuhead_super_categorie">
          <header class="box">
            <a href=" {% url 'home' %} " id="menlogo">
              <img src="{% static 'E_commerce/Image/lebonlieu.svg' %}" alt="" />
            </a>
            <div
              id="menubtn3"
              aria-label="Open menu"
              style="background: none; border: none; cursor: pointer"
            >
              <button >
                <svg
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <line x1="4" y1="4" x2="28" y2="28"></line>
                  <line x1="4" y1="28" x2="28" y2="4"></line>
                </svg>
              </button>
            </div>
          </header>
            <div class="hidden-page-super-categorie" id="hiddenPageSuperCategorie{{ forloop.counter }}">
              <div class="box_categorie">
                <div class="name">
                  {{ super_categorie.svg_icon | safe }}
                    <span>{{ super_categorie.nom }}</span>
                  </div>
                  <div class="box">
                    <div class="categorie">
                      <a href="{% url 'all_products' super_categorie.slug %}"><h2 class="title_categorie"  >Tout {{ super_categorie.nom }}</h2></a>
                        <ul>
                          {% for categorie in super_categorie.categorys_set.all %}
                          {% with categorie.souscategorys_set.all as sous_categories %}
                            {% if not sous_categories or sous_categories|length < 4 %}
                            <a href="{% url 'produits' categorie.slug %}"><h3>{{ categorie.nom }}</h3></a> 
                            <ul>
                              {% for sous_categorie in sous_categories %}
                                <a href="#"><li>{{ sous_categorie.nom }}</li></a>
                              {% endfor %}
                            </ul>
                          {% endif %}
                          {% endwith %}
                          {% endfor %}
                        </ul>
                    </div>
                    {% for categorie in super_categorie.categorys_set.all %}
                      {% with categorie.souscategorys_set.all as sous_categories %}
                          {% if sous_categories and sous_categories|length > 3 %}
                              <div class="categorie1">
                                  <a href="{% url 'produits' slug='telephones-objets-connectes' %}"><h3>{{ categorie.nom }}</h3></a>
                                  <ul>
                                      {% for sous_categorie in sous_categories %}
                                          <a href="#"><li>{{ sous_categorie.nom }}</li></a>
                                      {% endfor %}
                                  </ul>
                              </div>
                          {% endif %}
                      {% endwith %}
                  {% endfor %}
                </div>
              </div>
            </div>
        </div>
      </div>
      {% endfor %}
    </section>
  <!-- ---------------------- Section head ---------------->
    <section class="head" id="head">
      <div class="heading">
      <div class="menu">
        <div class="menu-head">
        <button
          id="menubtn"
          aria-label="Open menu"
          style="background: none; border: none; cursor: pointer"
        >
          <svg width="40" height="30" viewBox="0 0 40 30">
            <rect width="40" height="5" y="0" fill="#333" rx="2"></rect>
            <rect width="40" height="5" y="12" fill="#333" rx="2"></rect>
            <rect width="40" height="5" y="24" fill="#333" rx="2"></rect>
          </svg>
          </button>
          <a href="{% url "home" %}" class="lg"><img src="{% static 'E_commerce/Image/lebonlieu.svg' %}" alt="" /></a>
          <a href="{% url 'panier' %}" class="iconcon">
              <div class="panier">
                <svg  viewBox="0 0 576 512" fill="currentColor">
                  <path d="M0 24C0 10.7 10.7 0 24 0L69.5 0c22 0 41.5 12.8 50.6 32l411 0c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3l-288.5 0 5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5L488 336c13.3 0 24 10.7 24 24s-10.7 24-24 24l-288.3 0c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5L24 48C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
                </svg>
                <span class="compteur_panier" class="dabge">0</span>
              </div>
            </a>
        </div>
        <form method="GET" action="{% url 'recherche' %}">
          <div id="boxrecher">
            <div class="recher2">
            <button type='submit'>
              <svg viewBox="0 0 24 24" fill="currentColor">
                <path
                  d="m10.5,3.95c-3.62,0-6.55,2.93-6.55,6.55s2.93,6.55,6.55,6.55,6.55-2.93,6.55-6.55-2.93-6.55-6.55-6.55ZM2,10.5C2,5.81,5.81,2,10.5,2s8.5,3.81,8.5,8.5-3.81,8.5-8.5,8.5S2,15.2,2,10.5Z"
                ></path>
                <path
                  d="m15.13,15.13c.38-.38,1-.38,1.38,0l5.21,5.21c.38.38.38,1,0,1.38-.38.38-1,.38-1.38,0l-5.21-5.21c-.38-.38-.38-1,0-1.38Z"
                ></path>
                </svg>
              </button>
              <input type="text" name='recherche' placeholder="Rechercher sur Lebonlieu" />
            </div>
          </div>
        </form> 
      </div>
      <nav class="navbar">
        <div class="head-top" id="head-top">
          <a href="{% url 'home' %}" id="menlogo">
            <img src="{% static 'E_commerce/Image/lebonlieu.svg' %}" alt="" />
          </a>
          <div class="ar">
            {% if request.user.is_authenticated and request.user.fournisseur %}
            <button class="annonce" id="annonce">
              <a href="{% url "ajouter_produit" %}">
                <div class="box-annonce">
                  <svg viewBox="0 0 24 24" fill="currentColor">
                    <path
                      d="m12,6.84c.56,0,1.01.45,1.01,1.01v3.14h3.14c.56.02.99.5.96,1.05-.02.52-.44.94-.96.96h-3.14v3.14c0,.56-.45,1.01-1.01,1.01-.56,0-1.01-.45-1.01-1.01h0v-3.14h-3.14c-.56,0-1.01-.45-1.01-1.01,0-.56.45-1.01,1.01-1.01h3.14v-3.14c0-.56.45-1.01,1.01-1.01h0Z"
                    ></path>
                    <path
                      fill-rule="evenodd"
                      d="m7.16,2c-2.85,0-5.16,2.31-5.16,5.16h0v9.68c0,2.85,2.31,5.16,5.16,5.16h9.68c2.85,0,5.16-2.31,5.16-5.16V7.16c0-2.85-2.31-5.16-5.16-5.16H7.16Zm-3.14,5.16c0-1.73,1.4-3.14,3.14-3.14h9.68c1.73,0,3.14,1.4,3.14,3.14h0v9.68c0,1.73-1.4,3.14-3.14,3.14H7.16c-1.73,0-3.14-1.4-3.14-3.14h0V7.16h0Z"
                    ></path>
                  </svg>
                  <span>Déposer une annonce</span>
                </div>
              </a>
            </button>
            {% endif %}
            <div class="box_recher">
              <form id="recher" class="recher" method="GET" action="{% url 'recherche' %}">
                  <input id="search-input" name="recherche" type="text" placeholder="Rechercher sur Lebonlieu" autocomplete="off" />
                  <div class="box_recher_bouton">
                      <button type="submit">
                          <svg viewBox="0 0 24 24" fill="currentColor">
                              <path d="m10.5,3.95c-3.62,0-6.55,2.93-6.55,6.55s2.93,6.55,6.55,6.55,6.55-2.93,6.55-6.55-2.93-6.55-6.55-6.55ZM2,10.5C2,5.81,5.81,2,10.5,2s8.5,3.81,8.5,8.5-3.81,8.5-8.5,8.5S2,15.2,2,10.5Z"></path>
                              <path d="m15.13,15.13c.38-.38,1-.38,1.38,0l5.21,5.21c.38.38.38,1,0,1.38-.38.38-1,.38-1.38,0l-5.21-5.21c-.38-.38-.38-1,0-1.38Z"></path>
                          </svg>
                      </button>
                  </div>
              </form>
          </div>          
          </div>
          <div class="option">
            <a href="{% url 'historique' %}" class="icon">
              <div class="noti">
                <svg viewBox="0 0 24 24" fill="currentColor">
                  <path
                    fill-rule="evenodd"
                    d="m14.1,4.03c1.05.34,2.02.92,2.81,1.72,1.3,1.31,2.03,3.08,2.03,4.93,0,2.8.47,4.35.96,5.25.39.72.58,1.6.26,2.39-.36.88-1.21,1.3-2.15,1.3h-2.94c-.18.69-.58,1.29-1.13,1.72-.56.43-1.24.66-1.95.66s-1.39-.23-1.95-.66c-.56-.43-.96-1.03-1.13-1.72h0s-2.94,0-2.94,0c-.95,0-1.79-.42-2.15-1.3-.32-.79-.13-1.67.26-2.39.49-.9.96-2.44.96-5.25,0-1.85.73-3.62,2.03-4.93.79-.8,1.76-1.38,2.81-1.72.04-1.13.97-2.03,2.1-2.03s2.06.9,2.1,2.03Zm-2.1,1.69c1.31,0,2.56.52,3.48,1.45.92.93,1.44,2.19,1.44,3.5,0,3.02.51,4.93,1.21,6.21.22.41.17.63.16.66h0s-.09.05-.28.05H5.98c-.18,0-.26-.04-.28-.05h0s-.06-.25.16-.66c.7-1.29,1.21-3.2,1.21-6.22,0-1.31.52-2.57,1.44-3.5.92-.93,2.18-1.45,3.48-1.45Z"
                  ></path>
                </svg>
                <span href="#" id="textlong">Mes recherches</span>
              </div>
            </a>
            <a href="{% url 'favoris' %}" class="icon">
              <div class="favo">
                <svg viewBox="0 0 24 24" fill="currentColor">
                  <path
                    d="m16.28,3c-1.72,0-3.24.83-4.28,2.11-1.04-1.28-2.57-2.11-4.28-2.11-3.21,0-5.72,2.85-5.72,6.24,0,2.77,1.41,4.75,1.97,5.51,1.87,2.47,4.38,4.11,6.67,5.6h.02c.25.17.49.33.73.49.32.21.73.22,1.06.02.21-.13.43-.26.63-.39h.02c2.39-1.48,5.02-3.1,6.95-5.68.64-.86,1.95-2.83,1.95-5.54,0-3.4-2.51-6.23-5.72-6.23h0Zm-8.57,2.12c1.46,0,2.76.96,3.35,2.39.16.38.52.64.93.64s.77-.25.93-.64c.6-1.44,1.9-2.39,3.36-2.39,1.99,0,3.7,1.79,3.69,4.13,0,2-.98,3.5-1.52,4.24-1.67,2.25-3.98,3.67-6.43,5.19l-.07.04-.21-.13c-2.33-1.52-4.54-2.97-6.18-5.14-.51-.67-1.54-2.18-1.54-4.2,0-2.33,1.7-4.13,3.7-4.13h0Z"
                  ></path>
                </svg>
                <span href="#">Favoris</span>
              </div>
            </a>
            <a href="#" class="icon">
              <div class="chat">
                <svg viewBox="0 0 24 24" fill="currentColor">
                  <path
                    fill-rule="evenodd"
                    d="m2,6.18c0-2.34,1.9-4.18,4.21-4.18h11.5c2.36,0,4.28,1.92,4.28,4.28v14.7c0,.38-.22.74-.56.91-.34.17-.75.14-1.06-.09l-3.66-2.74H6.3c-2.35,0-4.27-1.9-4.28-4.26-.01-2.52-.02-6.03-.01-8.63Zm4.21-2.15c-1.22,0-2.18.96-2.18,2.15,0,2.6,0,6.09.01,8.62,0,1.24,1.01,2.23,2.25,2.23h10.75c.22,0,.43.07.61.2l2.31,1.73V6.28c0-1.24-1.01-2.25-2.25-2.25H6.22Zm10.68,4.17H7.1c-.56,0-1.02-.45-1.02-1.02,0-.56.45-1.02,1.02-1.02h9.8c.56,0,1.02.45,1.02,1.02s-.45,1.02-1.02,1.02Zm0,3.19H7.1c-.56,0-1.02-.45-1.02-1.02,0-.56.45-1.02,1.02-1.02h9.8c.56,0,1.02.45,1.02,1.02s-.45,1.02-1.02,1.02Zm-10.82,2.25c0-.56.45-1.02,1.02-1.02h6.53c.56,0,1.02.45,1.02,1.02s-.45,1.02-1.02,1.02h-6.53c-.56,0-1.02-.45-1.02-1.02Z"
                  ></path>
                </svg>
                <span>Messages</span>
              </div>
            </a>
          {% if not user.is_authenticated %}
            <a href=" {% url 'login' %} " class="icon">
              <div class="connexion">
                <svg viewBox="0 0 24 24">
                  <path
                    fill-rule="evenodd"
                    d="m12,4.19c-1.6,0-2.93,1.26-2.93,2.84s1.33,2.84,2.93,2.84,2.93-1.26,2.93-2.84-1.33-2.84-2.93-2.84Zm-5.23,2.84c0-2.77,2.32-5.03,5.23-5.03s5.23,2.27,5.23,5.03-2.32,5.03-5.23,5.03-5.23-2.27-5.23-5.03Zm5.23,8.54c-1.85,0-3.63.71-4.95,1.98-1.01.97-1.68,2.21-1.94,3.55-.12.6-.72.99-1.34.88-.63-.11-1.04-.68-.92-1.28.34-1.76,1.23-3.4,2.56-4.69,1.74-1.68,4.11-2.63,6.59-2.63s4.84.95,6.59,2.63c1.34,1.29,2.22,2.93,2.56,4.69.12.6-.3,1.17-.92,1.28-.63.11-1.23-.28-1.34-.88-.26-1.34-.93-2.58-1.94-3.55-1.31-1.27-3.09-1.98-4.95-1.98Z"
                  ></path>
                </svg>
                <span id="textlong">Se connecter</span>
              </div>
            </a>
          {% endif %}
            <a href="{% url 'panier' %}" class="iconcon icon">
              <div class="panier ">
                <svg  viewBox="0 0 576 512" fill="currentColor">
                  <path d="M0 24C0 10.7 10.7 0 24 0L69.5 0c22 0 41.5 12.8 50.6 32l411 0c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3l-288.5 0 5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5L488 336c13.3 0 24 10.7 24 24s-10.7 24-24 24l-288.3 0c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5L24 48C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
                </svg>
                <span>Panier</span>
                <span class="compteur_panier" class="dabge">0</span>
              </div>
            </a>
            {% if user.is_authenticated %}
            <a class="logout">
                <button type="submit">
                  <div class="deconnexion" onclick="document.querySelector('.deconnect_confirm').style.display='flex'">
                    <svg viewBox="0 0 512 512" fill="currentColor">
                      <path d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/>
                    </svg>
                  </div>
                </button>
            </a>
            <div class="deconnect_confirm">
              <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <div class="confirm_box">
                  <h2>Déconnexion</h2>
                  <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
                  <div class="btn">
                    <button type="submit" id="confirmYes">Oui</button>
                    <button type="button" id="confirmNo" onclick="document.querySelector('.deconnect_confirm').style.display='none'">Non</button>
                  </div>
                </div>
              </form>
            </div>
          {% endif %}
          </div>
        </div>
        <div class="head-bottom">
          <ul class="ul">
            {% for super_categorie in super_categories %}
            <li class=" li hover-container" id="hoverElement{{ forloop.counter }}">
              <a >{{super_categorie.nom}}</a>
            </li>  
            {% endfor %}
          </ul>   
          <ul class="min_ul">
            {% for super_categorie in super_categories %}
              <li>
                <a href="#" class="menubtn_super_categorie" id = "MenubtnSuperCategorie{{ forloop.counter }}" >{{super_categorie.nom}}</a>
              </li> 
            {% endfor %}  
          </ul>   
      </div>
      </nav>
    </div> 
    {% if user.is_authenticated %}
    <div class="profile-container">
        <div class="profile-avatar">
              {% if user.image %}
              <img src="{{ user.image.url }}" alt="Profile Picture">
          {% else %}
              <img src="{% static 'comptes/image/default_profil.png' %}" alt="Default Profile Picture">
          {% endif %}        
        </div>
        <div class="dropdown-menu" id="profileDropdown">
              <a href="{% url 'profil' %}">
                <i class="fas fa-user"></i>
                <p>Compte</p>
              </a>
              <button onclick="document.querySelector('.deconnect_confirm').style.display='flex'">
                <i class="fa-solid fa-right-to-bracket"></i>
                <p>Déconnexion</p>
              </button>
        </div>
    </div>
{% endif %}
    </section> 
    <!-- ---------------------- Section hidden page ---------------->
    {% for super_categorie in super_categories %}
    <div class="hidden-page" id="hiddenPage{{ forloop.counter }}">
      <div class="box_categorie">
        <div class="name">
          {{ super_categorie.svg_icon | safe }}
            <span>{{ super_categorie.nom }}</span>
          </div>
          <div class="box">
            <div class="categorie">
              <a href="{% url 'all_products' super_categorie.slug %}"><h3 class="title_categorie"  >Tout {{ super_categorie.nom }}</h3></a>
                <ul>
                  {% for categorie in super_categorie.categorys_set.all %}
                  {% with categorie.souscategorys_set.all as sous_categories %}
                    {% if not sous_categories or sous_categories|length < 4 %}
                    <a href="{% url 'produits' categorie.slug %}"><h3>{{ categorie.nom }}</h3></a> 
                    <ul>
                      {% for sous_categorie in sous_categories %}
                        <a href="#"><li>{{ sous_categorie.nom }}</li></a>
                      {% endfor %}
                    </ul>
                  {% endif %}
                  {% endwith %}
                  {% endfor %}
                </ul>
            </div>
            {% for categorie in super_categorie.categorys_set.all %}
              {% with categorie.souscategorys_set.all as sous_categories %}
                  {% if sous_categories and sous_categories|length > 3 %}
                      <div class="categorie1">
                          <a href="{% url 'produits' slug='telephones-objets-connectes' %}"><h3>{{ categorie.nom }}</h3></a>
                          <ul>
                              {% for sous_categorie in sous_categories %}
                                  <a href="#"><li>{{ sous_categorie.nom }}</li></a>
                              {% endfor %}
                          </ul>
                      </div>
                  {% endif %}
              {% endwith %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}

  <div class="verifie_produit_exist">
    <div class="confirm_box">
        <h2>Produit déjà existant</h2>
        <p>Ce produit existe déjà dans le panier.</p>
        <button id="closeVerifieProduitExist" onclick="document.querySelector('.verifie_produit_exist').style.display='none'">Fermer</button>
      </div>
  </div>

  <div class="ajout_succes">
    <div class="confirm_box">
        <div class="success-icon">
          &#10003; <!-- Utilisation d'un symbole de coche -->
      </div>
      </div>
  </div>

  <!-- ------------------------ Section content----------------------------->
  {% block content %}
  {% endblock content %}
</div>
  {% block dasbord %}{% endblock dasbord %}
</div>
  <!----------------------------Section footer ------------------------------>
    <footer class="footer">
        <div class="footer-container">
            <!-- Section 1: Logo et slogan -->
            <div class="footer-section logo-section">
                <h2 class="footer-logo">Lebonlieu</h2>
                <p>Le meilleur endroit pour trouver ce dont vous avez besoin.</p>
            </div>
    
            <!-- Section 2: Liens de navigation -->
            <div class="footer-section">
                <h3>Catégories</h3>
                <ul>
                    <li><a href="#"><i class="fas fa-angle-right"></i> Immobilier</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i> Mode</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i> Véhicules</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i> Électronique</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i> Emploi</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i> Loisirs</a></li>
                </ul>
            </div>
    
            <!-- Section 3: Infos légales -->
            <div class="footer-section">
                <h3>Informations</h3>
                <ul>
                    <li><a href="#"><i class="fas fa-angle-right"></i> À propos</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i> FAQ</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i> Conditions d'utilisation</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i> Politique de confidentialité</a></li>
                </ul>
            </div>
    
            <!-- Section 4: Réseaux Sociaux -->
            <div class="footer-section">
                <h3>Suivez-nous</h3>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    
        <!-- Copyright -->
        <div class="footer-bottom">
            <p>&copy; 2025 Lebonlieu - Tous droits réservés.</p>
        </div>
    </footer>
    <script src="{% static 'E_commerce/js/head.js' %}?v={{ static_version }}"></script>
    <script src="{% static 'E_commerce/js/panier.js' %}?v={{ static_version }}"></script>
    <script>
      const SYNC_PANIER_URL = "{% url 'sync_panier' %}";
      const PANIER_URL = "{% url 'panier' %}";
      const GET_PANIER_URL = "/api/get_panier/";
  </script>
  <script>
    const TOGGLE_FAVORI_URL = "{% url 'toggle_favori' 0 %}".replace('/0', '');
    const SYNC_FAVORIS_URL = "{% url 'sync_favoris' %}";
  </script> 
  
   
    {% block script %}{% endblock script %}
  </body>
</html>











