{% extends "E_commerce/base.html" %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'produits/css/detail.css' %}?v={{ static_version }}" />
{% endblock link %} 

{% block content %}
<section class="container_detail">
  <div class="container">
    <div class="box_img">
      <img src="{{ produit.image.url }}" alt="Image du produit" class="image" />
    </div>
    <div class="box_description">
      <div class="info">
        <h2>{{ produit.nom }}</h2>
        <p class="prix">Prix: {{ produit.prix }} €</p>
        <p>{{ produit.description }}</p>
      </div>
        <form method="POST" action="">
          {% csrf_token %}
          <button type="submit" class="btn-ajouter">Ajouter</button>
        </form>
    </div>
  </div>
</section>
{% endblock content %}
