{% extends "E_commerce/base.html" %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'produits/css/detail.css' %}?v={{ static_version }}" />
{% endblock link %} 

{% block content %}
<section class="container_detail">
  <div class="container">
    <div class="box_img">
      <img src="{{ produit.image.url }}" alt="Image du produit" class="image" />
    </div>
    <div class="box_description">
      <div class="info">
        <div class="head_produit">
          <h2>{{ produit.nom }}</h2>
            <div class="fournisseur">
              <a href="{% url 'produits_par_fournisseur' fournisseur_id=produit.fournisseur.id %}" class="fournisseur-link">
                  <img src="{{ produit.fournisseur.logo.url }}" alt="Image du fournisseur" class="fournisseur-img">
                  <span>{{ produit.fournisseur.nom }}</span>
              </a>
            </div>
        </div>
        <p class="prix price" data-price="{{ produit.prix }}"  data-currency="{{ produit.devise }}">Prix: {{ produit.prix }} $</p>
        <p>{{ produit.description }}</p>
      <p class="stock">
        Stock disponible : {{ produit.stock }}
      </p>
      </div>
        <div 
  >
          <button 
          class="btn-ajouter ajouter-panier"
          data-id="{{ produit.id }}"
          data-nom="{{ produit.nom }}"
          data-prix="{{ produit.prix }}"
          data-image="{{ produit.image.url }}"
          >Ajouter</button>
        </div>
        <a href="{% url "laisser_commentaire" produit_id=produit.id  %}">commentaire</a>
    </div>
  </div>
</section>
{% endblock content %}
