{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change pass word</title>
    <link
      rel="stylesheet"
      href="{% static 'E_commerce/css/fontawesome/css/all.css' %}?v={{ static_version }}"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static "comptes/css/changePassword.css" %}?v={{ static_version }}">
</head>
<body>
    <div class="container">
        <h2>Changement de mot de passe</h2>    
        <form id="clientForm" method="post" action="">
            {% csrf_token %}
            <div class="form-group position-relative">
                <label class="form-label">Votre ancien mot de passe</label>
                <input id="ancien" name="ancien" type="password" class="form-control pr-5" required>
                <i class="fa-solid fa-eye-slash password-icon" onclick="togglePassword('ancien', this)"></i>
            </div>
            <p>{{ ancien }}</p> 
            <div class="form-group position-relative">
                <label class="form-label">Votre nouveau mot de passe</label>
                <input id="new1" name="new1" type="password" class="form-control pr-5" required>
                <i class="fa-solid fa-eye-slash password-icon" onclick="togglePassword('new1', this)"></i>
            </div>
                      
            <div class="form-group position-relative">
                <label class="form-label">Confirmer votre mot de passe</label>
                <input id="new2" name="new2" type="password" class="form-control pr-5" required>
                <i class="fa-solid fa-eye-slash password-icon" onclick="togglePassword('new2', this)"></i>
            </div>
            <p id="new">{{ nouveau}}</p>
            <p> {{ erpasswordror }} </p>
            
            <button type="submit" class="button col-md-12">Valider</button>
        </form>
    </div>

    <script>
        function togglePassword(id, icon) {
            let input = document.getElementById(id);
            
            if (input.type === "password") {
                input.type = "text";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            } else {
                input.type = "password";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            }
        }    
    </script>
</body>
