{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'comptes/css/singup.css' %}?v={{ static_version }}" />
    <link
      rel="stylesheet"
      href="{% static 'E_commerce/css/fontawesome/css/all.css' %}?v={{ static_version }}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="{% url 'singnup' %}" method="POST" class="sign-up-form">
            {% csrf_token %}
            <h2 class="title">S'inscrire</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="first_name" placeholder="Prenom" />
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="last_name" placeholder="Nom" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" name="email" placeholder="Email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password1" placeholder="Password" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                name="password2"
                placeholder="Confirm Password"
              />
            </div>
            <input type="submit" class="btn" value="Sign up" />
            {% if error %}
            <div class="error">{{ error }}</div>
            <!-- Afficher l'erreur -->
            {% endif %}
            <p class="social-text">
              Ou inscrivez-vous sur les plateformes sociales
            </p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel right-panel">
          <div class="content">
            <h3>L'un d'entre nous ?</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              laboriosam ad deleniti.
            </p>
            <a href=" {% url 'login' %} ">
              <button class="btn transparent" id="sign-in-btn">
                Se connecter
              </button>
            </a>
          </div>
          <img
            src="{% static 'comptes/image/register.svg' %}"
            class="image"
            alt=""
          />
        </div>
      </div>
    </div>
  </body>
</html>
