body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container_detail {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48.3vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
}

.box_img {
    text-align: center;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.image:hover {
    transform: scale(1.05);
}

.box_description {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fournisseur {
    display: flex;
    align-items: center;
}

.fournisseur-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
    color: #3498db;
    gap: 10px;
    transition: color 0.3s ease;
}

.fournisseur-link:hover {
    color: #1d6fa5;
}

.fournisseur-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #eee;
}

.fournisseur span{
    color: #000;
    font-size: 1.8rem;
    font-weight: 700;
}

.box_description h2 {
    color: rgb(255, 113, 25);
    font-size: 2.5em;
    margin-bottom: 10px;
}
.box_description .info .head_produit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box_description p {
    font-size: 1.8rem;
    font-weight: 500;
    color: #666;
    margin-bottom: 10px;
}

.box_description .prix {
    font-size: 1.7em;
    color: #e74c3c;
    font-weight: 700;
    margin-bottom: 20px;
}

.btn-ajouter {
    background-color: rgb(255, 113, 25);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-ajouter:hover {
    background-color: rgb(219, 94, 16);
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .box_img {
        margin-bottom: 20px;
    }
}